@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  background-color: white;
  font-family: 'Montserrat', sans-serif;
}

@-webkit-keyframes app-title-fade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes app-title-fade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes app-title-fade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  outline: none;

  .app-title {
    -webkit-animation: app-title-fade 1s 0.25s 2 alternate;
    -moz-animation: app-title-fade 1s 0.25s 2 alternate;
    animation: app-title-fade 1s 0.25s 2 alternate;
    animation-fill-mode: both;

    position: absolute;
  }

  .app-content {
    transition: opacity 0.5s linear 1s;
  }
}

.question-container {
  position: relative;

  width: 300px;
  height: 250px;
}

.question {
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);

  list-style: none;
  margin: 0;
  padding: 0;

  input[type='text'] {
    transition-duration: 0.25s;
    transition-property: border-bottom;

    &:focus {
      border-bottom: 1px solid #222 !important;

      transition-duration: 0.25s;
      transition-property: border-bottom;
    }
  }

  input[type='range'] {
    $backgroundThumb: grey;

    -webkit-appearance: none;
    width: 80%;
    height: 10px;
    background: #ccc;

    &::-moz-range-thumb {
      height: 20px;
      width: 16px;

      background: $backgroundThumb;
      cursor: pointer;
      transition-duration: 0.25s;

      &:hover {
        background: turquoise;
        transition-duration: 0.25s;
      }
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      height: 20px;
      width: 16px;

      background: $backgroundThumb;
      cursor: pointer;

      transition-duration: 0.25s;

      &:hover {
        background: #aaa;
        transition-duration: 0.25s;
      }
    }

    &:focus {
      outline: none;
    }

    &::-ms-track {
      width: 80%;
      cursor: pointer;

      background: transparent;
      border-color: transparent;
      color: transparent;
    }
  }
}

.btn-container {
  z-index: 1;
  width: 400px;
  height: 40px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;

  .btn {
    &:after {
      content: '';
      display: block;
      background: #fff;
      height: 2px;
      width: 0px;
      margin-top: 3px;

      transition: width 0.5s;
    }

    &:hover {
      cursor: pointer;

      &:after {

        width: 70px;
        transition: width 0.5s;
      }
    }
  }
}

.progress-container {
  margin: 40px auto;
  width: 400px;
}
